@charset "utf-8";
main .event{
  width: 100%;
  height: 150px;
  display: flex;
  text-align: center;
  /* overflow: hidden; */
}
main .event li{
  width: 33.3%;
  height: 100%;
}
main .event li:first-child{
  background: #333;
}
main .event li:nth-child(2){
  background: #44433D;
}
main .event li:last-child{
  background: #535041;
}
main .event li a{
  color: #fff;
}
main .event li a span:first-child{
  display: inline-block;
  font-size: 36px;
  letter-spacing: 0.16em;
  padding-top: 40px;
  padding-bottom: 8px;
}
main .event li a span:last-child{
  font-family: 'Open Sans';
  font-size: 12px;
}

/*메인슬라이드*/

#m_slide{
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
}
#m_slide >h2{
  display: none;
}
#m_slide > ul{
  display: flex;
  width: 300%;
  /* overflow: hidden; */
}
#m_slide >ul>li{
  width: 100%;
  font-size: 0px;
}
#m_slide >ul>li>a>img{
  width: 100%;
}
#m_slide > article{
  position: relative;
  left: 0px;
  top: -700px;
  width: 1200px;
  height: 0px;
  margin: 0px auto;
  /* transform: translateY(-800px); */
}
#m_slide > article h2{
  color: #fff;
  font-size: 96px;
  font-weight: 400 !important;
  /* text-align: center; */
}
#m_slide > article span{
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 64px;
  box-sizing: border-box;
  border: 1px solid #fff;
  line-height: 64px;
  font-size: 40px;
  position: relative;
  left: 120px;
}
/*룩북*/
#lookbook{
  background: #fff;
  width: 100%;
}
#lookbook > h2{
  text-align: center;
  padding-top: 64px;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 8px;
}
#lookbook > p{
  font-size: 40px;
  font-weight: bold;
  color: #5a5a5a;
  text-align: center;
}
#lookbook > div{
  width: 110px;
  height: 2px;
  background: #5a5a5a;
  margin: 0px auto;
  margin-top: 20px;
}
#lookbook >article{
  display: flex;
  width: 80%;
  margin: 0px auto;
  margin-top: 40px;
  height: 600px;
}
#lookbook >article> h2{
  display: none;
}
#lookbook >article > div{
  width: 48%;
  height: 500px;
  background: #fff;
  text-align: center;
  position: relative;
}
#lookbook >article > div:first-of-type{
  margin-right: 2%;
}
#lookbook >article > div img{
  width: 100%;
}
#lookbook img,#lookbook >article> div p{
  transition: 0.3s;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
#lookbook>article >div p{
  color: transparent; 
  -webkit-text-stroke: 1px #fff; 
  font-size: 96px;
  opacity: 0;
  /* border: #333; */
}
#lookbook>article div:hover img{
  filter: brightness(50%);
}
#lookbook>article> div:hover p{opacity: 1;}
.banner::before, .banner::after {
  content:'';
  position: absolute;
  top:50%;
  left:50%;
  width:70%;
  height: 60%;
  transform: translate(-50%, -50%);
  transition: all .8s;
  z-index: 2;
}
.banner::before {
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  width:0;
}
.banner::after {
  border-left:2px solid #fff;
  border-right:2px solid #fff;
  height:0;
}
.banner:hover::before {width:70%}
.banner:hover::after {height:60%}
/*상품*/
#product{
  width: 1200px;
  margin: 0px auto;
  color: #fff;
}
#product h2{
  text-align: center;
  /* font-family: 'Open Sans'; */
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  margin-top: 100px;
  /* line-height: 27px; */
}
.list{
  display: flex;
  width: 230px;
  margin: 0px auto;
  justify-content: space-between;
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 50px;
  color: #777;
}
.lion{
  color: #fff;
  text-decoration: underline;
}
.wear{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3,auto);
  /* grid-template-rows: 1fr 1fr ; */
}
.wear li span{
  color: #fff;
  font-family: 'Open Sans';
}
.wear li span:first-of-type{
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}
.wear li span:nth-of-type(2){
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin-top: 4px;
  margin-bottom: 8px;
}
.wear li span:last-of-type{
  font-weight: 400;
  font-size: 16px;
  margin-left: 4px;
  position: absolute;
  transform: translateY(20px);
}
.wear li a div{
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
  margin-top: 8px;
  margin-right: 4px;
  /* z-index: 5; */
}
.wear li a div img{
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
}
.wear li a >img{
  transition: 0.3s;
  width: 100%;
}
.wear li img:hover{
  filter: brightness(1.6);
}
/* 배너 */
#baner{
  position: relative;
  margin-top: 100px;
}
#baner >div{
  position: absolute;
  left: 20%; top: 15%;
  width: 320px;
  height: 400px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);;
}
#baner >div h2{
  /* font-family: 'Open Sans'; */
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding: 110px 12px 0px 12px;
}
#baner >div a{
  display: block;
  width: 200px;
  padding: 16px;
  text-align: center;
  margin: 8px auto;
  font-family: 'Open Sans';
  font-size: 20px;
  border: 1px solid #333;
  transition: 0.3s;
}
#baner >div p{
  font-family: 'Open Sans';
  padding: 16px 8px 10px 8px;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}
#baner >div a img{
  width: 24px;
  transform: rotate(-90deg);
}
#baner > div a:hover{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  /* color: #fff; */
}
/*magazine*/
#magazine{
  width: 100%;
  background: #fff;
  text-align: center;
}
#magazine h2{
  font-family: 'Merienda';
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  padding-top: 50px;
  margin-top: 100px;
}
#magazine p{
  font-family: 'Merienda';
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 40px;
  overflow: hidden;
}
#magazine hr{
    border: none;
    border-top: 2px dotted rgb(0, 0, 0);
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
}
#magazine hr:last-of-type{
  padding-bottom: 40px;
}
#magazine div{
  /* width: 1200px; */
  margin: 0px auto;
}
#magazine ul{
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  width: 100%;
  animation: slide 10s linear infinite;
  /* justify-content: center; */
}
#magazine ul li{
}
#magazine ul li img{
  height: 500px;
}
@keyframes slide {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-3100px);
  }
}